<div class="container-fluid">
  <h2 class="text-center">コメントを編集する</h2>
  <%=  form_with(model: [@article,@comment], local: true) do |f| %>
    <div class="col-xs-10 col-xs-offset-1 col-md-offset-2 col-md-8 col-md-offest-2">
      <div class="form-group">
        <%= f.text_area :comment, placeholder: "コメントする", rows: "5",autofocus: true, class: "form-control", id: "editor"%>
      </div>

      <script>
        var simplemde = new SimpleMDE({ 
          element: document.getElementById("editor"),
          tabSize: 4});
      </script>
      <script>
          marked.setOptions({
                sanitize: true,
                sanitizer: escape,
                breaks : true
            });
      </script>

      <div class="actions"> 
        <%= f.submit "コメントを更新する", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
  <% end %>
</div>
