<% if user_signed_in? && room_logged_in? %>
  <div class="container-fluid">
    <h2 class="text-center">検索する</h2>
      <div class="col-xs-6 col-xs-offset-3">
        <%= form_with(url: search_articles_path , local: true, method: :get ) do |form| %>
          <%= form.text_field :keyword, placeholder: "タイトルを検索する", class:"form-group form-control" %>
          <%= form.submit "検索", class:"btn btn-primary btn-lg btn-block"%>
        <% end %>
      </div>
  </div>
<% end %>


