// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}
.size {
  font-size: 14px;
}
.size1{
  font-size: 18px;
}
.border {
  border: solid 1.5px;
  border-color: #ccc;
  border-radius: 4px;
  padding: 15px;
}

.margin{
  margin-bottom: 100px;
}

textarea{
  resize: none;
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 200px;
}
