// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding-top: 60px;
}


.navbar-inverse{
  background-color: #32CD32;
  border-color: #32CD32;
}
.space{
  margin: 10px 20px;
}

.color{
  background-color: #32CD32;
}